@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* background:  #28293E; */
  background-image: url('./assets/polygon.jpg');
  background-size:cover;
  background-repeat: no-repeat;
} 

.img{
  margin-left: 9rem;
}

.bgBanner{
  /* background:  #28293E; */
  /* background-image: url('./assets/polygon.jpg'); */
  background-size:cover;
  background-repeat: no-repeat;
}

.bgFormation{
  background-image: url('./assets/polygon.jpg');
  background-size:cover;
  background-repeat: no-repeat;
        -webkit-animation: slidein 100s;
        animation: slidein 100s;

        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;

        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;

        -webkit-animation-direction: alternate;
        animation-direction: alternate;   
}

@-webkit-keyframes slidein {
  from {background-position: top; background-size:2000px; }
  to {background-position: -100px 0px;background-size:2750px;}
  }
  
  @keyframes slidein {
  from {background-position: top;background-size:2000px; }
  to {background-position: -100px 0px;background-size:2750px;}
  
  }

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo{
  width: 30px;
  height: 30px;
  flex-wrap: wrap;
}
.article-card {
  transform: scale(0.8);
  width: 450px;
  height: 320px;
  border-radius: 12px;
  overflow: hidden;
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 300ms;
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -ms-transform: scale(0.8);
  -o-transform: scale(0.8);
}

.article-card:hover {
  transform: translateY(-2px);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  -webkit-transform: translateY(-2px);
  -moz-transform: translateY(-2px);
  -ms-transform: translateY(-2px);
  -o-transform: translateY(-2px);
}

.skill-card {
  transform: scale(0.8);
  width: 600px;
  height: 90px;
  border-radius: 12px;
  overflow: hidden;
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 300ms;
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -ms-transform: scale(0.8);
  -o-transform: scale(0.8);
}
.skill-card:hover {
  transform: translateY(-2px);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  -webkit-transform: translateY(-2px);
  -moz-transform: translateY(-2px);
  -ms-transform: translateY(-2px);
  -o-transform: translateY(-2px);
}


.article-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.article-card .content {
  box-sizing: border-box;
  width: 100%;
  position: absolute;
  padding: 30px 20px 20px 20px;
  height: auto;
  bottom: 0;
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.6));
}

.article-card .date,
.article-card .title {
  margin: 0;
}

.article-card .date {
  font-size: 18px;
  color: rgba(255, 255, 255, 0.9);
  margin-bottom: 4px;
}

.article-card .title {
  font-size: 22px;
  color: #fff;
}

.homeUI{
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 0px );
-webkit-backdrop-filter: blur( 0px );
border-radius: 10px;
 box-shadow: 4px 7px 26px 0px rgba(181, 63, 224, 0.61);
  border: 1px solid rgba(5, 5, 5, 0.521);
width: 100vw;
margin: 0 5% 10% 5%;
padding: 50px;
background:#20212467
}

.formationUI{
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 0px );
  -webkit-backdrop-filter: blur( 0px );
  border-radius: 10px;
  box-shadow: 4px 7px 26px 0px rgba(13, 14, 13, 0.61);
  border: 1px solid rgba(5, 5, 5, 0.521);
  margin-bottom: 2%;
  padding: 0.5%;
}
.radiant{
  width: 625px;
  height: 700px;
  flex-shrink: 0;
  border-radius: 700px;
  background: radial-gradient(50% 50.00% at 50% 50.00%, #763CAC 0%, rgba(50, 15, 133, 0.00) 100%);
  position: absolute;
  left: 30%;
}

.homeUI::backdrop{
  --tw-blur: blur(40px);
    filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.red{
  color: #e92c2c;
}
.portrait{
  border-radius: 707px;
  border: 12px solid #f8f8f8;
  box-shadow: #688597 0 -18px 40px, 5px 5px 15px 5px rgba(0,0,0,0);

}
.title{
  color: #FFF;
  font-family: Preahvihear;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.8px;
}

.card-layout{
  width: max-content;
  height: 350px;
  flex-shrink: 0;
  border-radius: 15px;
  box-shadow: 4px 7px 26px 0px rgba(0, 0, 0, 0.12);
}
.subtitle{
  color: #FFF;
  font-family: Poppins;
  font-size: 26px;
  font-style: normal;
  font-weight: 600;
  line-height: 32.5px; /* 125% */
  width: 256px;
  height: 24px;
  flex-shrink: 0;
  width: fit-content;
  padding-left: 15%;
}
.image{
  width: 115px;
  height: 115px;
  flex-shrink: 0;
  background: url(./assets/robot.jpg), lightgray 50% / cover no-repeat;
  left: 0;
  box-shadow: 4px 7px 26px 0px rgb(0, 0, 0);
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}
.desc-container{
  border-radius: 14px;
  background: url(./assets/Rectangle.png), lightgray 0% 0% / 154.22531366348267px 154.22531366348267px repeat, radial-gradient(151.92% 127.02% at 15.32% 21.04%, rgba(118, 60, 172, 0.20) 0%, rgba(110, 191, 244, 0.04) 77.08%, rgba(70, 144, 212, 0.00) 100%);
  background-blend-mode: overlay, normal;
  backdrop-filter: blur(40px);
  height: 165px;
  flex-shrink: 0;
  color: #CCD6F6;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border-radius: 15px;
  box-shadow: 4px 7px 26px 0px rgba(0, 0, 0, 0.12);
  border: 1px solid rgba(5, 5, 5, 0.521);
  padding: 5%;
}
.desc{
  color: #FFF;
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 10.5px; /* 131.25% */
  width: fit-content;
  height: fit-content;
  flex-shrink: 0;
  margin-top: 50px;
  padding-left: 15%;
}

.cards img{
  width:130px;
  height:120px;
  -webkit-transform: translateY(15px);
  -moz-transform: translateY(15px);
  -ms-transform: translateY(15px);
  -o-transform: translateY(15px);
}
/* h3{
  font-size:25px;
  font-family: 'Abel', sans-serif;
  color:rgb(255,255,255);
  text-shadow: 0 0 2px rgb(255,255,255);
  transform: translatey(10px);
}

p{
  
  font-family: 'Abel', sans-serif;
  color: white;
  text-align:center;
  width:220px;
  transform: translatex(12px);
} */

.btn {
  border-radius: 50px;
  padding: 1rem;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  outline: none;
  line-height: 2rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 60px;
  box-shadow: 0px 4.42px 107.23px rgba(255, 86, 246, 0.51);
  background: linear-gradient(#9034ba, #b65572);
  /* background: url(./assets/Rectangle.png), lightgray 0% 0% / 154.22531366348267px 154.22531366348267px repeat, radial-gradient(151.92% 127.02% at 15.32% 21.04%, rgba(118, 60, 172, 0.20) 0%, rgba(110, 191, 244, 0.04) 77.08%, rgba(70, 144, 212, 0.00) 100%); */
  background-blend-mode: overlay, normal;
  backdrop-filter: blur(40px);
  border: 1px solid rgb(112, 20, 138);

}
.card-container{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: -50px;
}
.btn:hover{
  transform: scale(1.1);
  box-shadow: 0px 4.42px 107.23px rgba(255, 86, 246, 0.51);
  background: linear-gradient(
    90deg,
    rgba(255, 86, 246, 1) 0%,
    rgba(217, 109, 109, 1) 100%
  );
}

.gradient,
.active {
  background: linear-gradient(#9034ba, #b65572);
}
.active {
  color: #fff;
  padding: 1rem;
  border-radius: 2rem;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
}
@layer base {
  body {
    @apply font-secondary font-semibold leading-8 text-lg text-white overflow-hidden ;
  }
  .h2{
    @apply font-primary font-semibold leading-8 text-[32px] mb-6 tracking-[10%] uppercase;
  }
  .h3{
    @apply font-primary font-semibold leading-[46px] text-[26px] mb-6;
  }
  .btn{
    @apply rounded-full font-primary text-white font-medium;
  }
  .btn-sm{
    @apply h-[48px] px-6 text-sm;
  }
  .btn-lg{
    @apply h-[56px] px-10 text-base;
  }
  .btn-link{
    @apply text-base;
  }

  .text-gradient{
    @apply bg-gradient-to-r from-[#42A6E3] to-[#FF56F6] font-bold font-primary text-transparent bg-clip-text;
  }
  .section{
    @apply py-8 lg:py-24 lg:h-screen flex items-center; 
  }

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.cards {
  width: 190px;
  height: 354px;
  transition: all 0.2s;
  position: relative;
  cursor: pointer;
}

.card-inner {
  width: inherit;
  height: inherit;
  background: rgba(255,255,255,.05);
  box-shadow: 0 0 10px rgba(0,0,0,0.25);
  backdrop-filter: blur(10px);
  border-radius: 8px;
}

.cards:hover {
  transform: scale(1.04) rotate(1deg);
}

.circle {
  width: 100px;
  height: 100px;
  background: radial-gradient(#abf305, #53ef7d);
  border-radius: 50%;
  position: absolute;
  animation: move-up6 2s ease-in infinite alternate-reverse;
}

.circle:nth-child(1) {
  top: -25px;
  left: -25px;
}

.circle:nth-child(2) {
  bottom: -25px;
  right: -25px;
  animation-name: move-down1;
}

@keyframes move-up6 {
  to {
    transform: translateY(-10px);
  }
}

@keyframes move-down1 {
  to {
    transform: translateY(10px);
  }
}