@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: radial-gradient(166.42% 82.86% at 67.33% 51.79%, #38505A 0%, #0E1214 100%);
  background-size:cover;
  background-repeat: no-repeat;
} 

body::-webkit-scrollbar {
  display: none;
}

.back{
  width: 1692.605px;
  height: 1317.947px;
  transform: rotate(53.472deg);
  flex-shrink: 0;
}
/****************** */
/*projects*/
.project-card {
  width: 18rem;
  height: 32rem;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  color: rgb(240, 240, 240);
  box-shadow: 0 10px 30px 5px rgba(0, 0, 0, 0.8);
  transition: all 0.3s ease-in-out;
  margin-bottom: 10px;
  margin-right: 5px;

  .project-image {
    position: absolute;
    object-fit:cover;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0.9;
    transition: opacity .2s ease-out;
    -webkit-transition: opacity .2s ease-out;
    -moz-transition: opacity .2s ease-out;
    -ms-transition: opacity .2s ease-out;
    -o-transition: opacity .2s ease-out;
  }

  .project-title {
    position: absolute;
    inset: auto auto 50px 30px;
    margin: 0;
    transition: inset .3s .3s ease-out;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    font-size: large;
  }

  &:hover .project-image {
    transition: opacity .3s ease-in;
    opacity: 1;
  }

  &:hover .project-title { 
    inset: auto auto 350px 30px;
    transition: inset .3s ease-out;
    z-index: 2;
  }

  .project-desc, .link {
    position: absolute;
    opacity: 0;
    max-width: 80%;
    transition: opacity .3s ease-out;
  }

  .project-desc {
    inset: auto auto 80px 30px;
    background-color: #1d1c1bd7;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 10px 30px 5px rgba(0, 0, 0, 0.5);
    font-family: 'Roboto Condensed', sans-serif;
    padding-left: 5%;
  }

  .link {
    inset: auto auto 40px 30px;
    color: rgb(96, 224, 149);
    text-decoration: none;
    cursor: pointer;
  }

  &:hover .project-desc, &:hover .link {
    opacity: 1;
    transition: opacity .5s .1s ease-in;
  }
}

.material-symbols-outlined {
  vertical-align: middle;
}

/************ */
.img{
  margin-left: 9rem;
}
.slide .tooltip{
  position: absolute;
  display: inline-block;
  background-Color: rgba(53, 51, 51, 0.356);
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  z-index: 5;
}

.area{
  border-radius: 15px;
  border: 1px solid #0E1214;
  padding: 10px;
  background: rgba(29, 29, 29, 0.248);
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
.contact-card{
  width: 240px;
  height: 200px;
  padding: 5%;
  flex-shrink: 0;
  border-radius: 15px;
  background: rgba(16, 16, 17, 0.758);
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
.contact-card:hover{
  transform: scale(1.1);
  box-shadow: 0px 4.42px 107.23px rgba(252, 141, 22, 0.51);
  background: linear-gradient(90deg, #F8B444 0%, #FC7E0A 100%);
}

.bgBanner{
  /* background:  #28293E; */
  /* background-image: url('./assets/polygon.jpg'); */
  background: radial-gradient(166.42% 82.86% at 67.33% 51.79%, #38505A 0%, #0E1214 100%);
  background-size:cover;
  background-repeat: no-repeat;
}
.bg-project{
  background: radial-gradient(166.42% 82.86% at 67.33% 51.79%, #38505A 0%, #0E1214 70%);
  z-index: 0;
}

.bgFormation{
  background: radial-gradient(166.42% 82.86% at 67.33% 51.79%, #38505A 0%, #0E1214 50%);  
  background-size:cover;
  background-repeat: no-repeat;
}

@-webkit-keyframes slidein {
  from {background-position: top; background-size:3000px; }
  to {background-position: -100px 0px;background-size:2750px;}
  }
  
  @keyframes slidein {
  from {background-position: top;background-size:3000px; }
  to {background-position: -100px 0px;background-size:2750px;}
  
  }
.theme{
  background: black;
  border-radius: 8px;
  background-blend-mode: overlay, normal;
  position: absolute;
  z-index: 0;
  width: 1692.605px;
  height: 1317.947px;
  transform: rotate(53.472deg);
  flex-shrink: 0;
  left: 40%;
}
.center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo{
  width: 30px;
  height: 30px;
  flex-wrap: wrap;
}
.article-card {
  transform: scale(0.8);
  width: 450px;
  height: 320px;
  border-radius: 12px;
  overflow: hidden;
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 300ms;
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -ms-transform: scale(0.8);
  -o-transform: scale(0.8);
}

.article-card:hover {
  transform: translateY(-2px);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  -webkit-transform: translateY(-2px);
  -moz-transform: translateY(-2px);
  -ms-transform: translateY(-2px);
  -o-transform: translateY(-2px);
}

.skill-card {
  transform: scale(0.8);
  width: 600px;
  height: 90px;
  border-radius: 12px;
  overflow: hidden;
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 1), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 300ms;
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -ms-transform: scale(0.8);
  -o-transform: scale(0.8);
}
.skill-card:hover {
  transform: translateY(-2px);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  -webkit-transform: translateY(-2px);
  -moz-transform: translateY(-2px);
  -ms-transform: translateY(-2px);
  -o-transform: translateY(-2px);
}


.article-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.article-card .content {
  box-sizing: border-box;
  width: 100%;
  position: absolute;
  padding: 30px 20px 20px 20px;
  height: auto;
  bottom: 0;
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.6));
}

.article-card .date,
.article-card .title {
  margin: 0;
}

.article-card .date {
  font-size: 18px;
  color: rgba(255, 255, 255, 0.9);
  margin-bottom: 4px;
}

.article-card .title {
  font-size: 22px;
  color: #fff;
}

.homeUI{
backdrop-filter: blur( 0px );
-webkit-backdrop-filter: blur( 0px );
border-radius: 10px;
 box-shadow: 4px 7px 26px 0px rgba(181, 63, 224, 0.61);
  border: 1px solid rgba(5, 5, 5, 0.521);
width: 100vw;
margin: 0 5% 10% 5%;
padding: 50px;
background:#20212467;
background-blend-mode: overlay, normal;
backdrop-filter: blur(40px);
border-radius: 45px;
box-shadow: 0px 4px 15px 5px rgba(0, 0, 0, 0.55);
}

.formationUI{
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 0px );
  -webkit-backdrop-filter: blur( 0px );
  border-radius: 10px;
  box-shadow: 4px 7px 26px 0px rgba(13, 14, 13, 0.61);
  border: 1px solid rgba(5, 5, 5, 0.521);
  margin-bottom: 2%;
  padding: 0.5%;
}
.circ{
  width: 1600px;
  height: 1600px;
  flex-shrink: 0;
  border-radius: 700px;
  position: absolute;
  left: 30%;
  z-index: -1;
}
.radiant{
  width: 625px;
  height: 700px;
  flex-shrink: 0;
  border-radius: 700px;
  background: radial-gradient(50% 50.00% at 50% 50.00%, #763CAC 0%, rgba(50, 15, 133, 0.00) 100%);
  position: absolute;
  left: 30%;
}
.radiant-1{
  width: 625px;
  height: 700px;
  flex-shrink: 0;
  border-radius: 700px;
  background: radial-gradient(50% 50.00% at 50% 50.00%, #618d59 0%, rgba(50, 15, 133, 0.00) 100%);
  position: absolute;
  left: 30%;
}

.homeUI::backdrop{
  --tw-blur: blur(40px);
    filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.red{
  color: #e92c2c;
}
.portrait{
  border-radius: 707px;
  border: 12px solid #fafbfb;
  box-shadow: #976868 0 -18px 40px, 5px 5px 15px 5px rgba(0,0,0,0);
  /* transform:  rotateZ(-10deg ); */
  height: 600px;

}
.title{
  color: #FFF;
  font-family: Preahvihear;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.8px;
}

.card-layout{
  width: max-content;
  height: 350px;
  flex-shrink: 0;
  border-radius: 15px;
  box-shadow: 4px 7px 26px 0px rgba(0, 0, 0, 0.12);
}
.subtitle{
  color: #FFF;
  font-family: Poppins;
  font-size: 26px;
  text-align: center;
  font-style: normal;
  font-weight: 600;
  line-height: 32.5px; /* 125% */
  width: 256px;
  height: 24px;
  flex-shrink: 0;
  width: fit-content;
  padding-left: 15%;
}
.image{
  width: 115px;
  height: 115px;
  flex-shrink: 0;
  background: url(./assets/robot.jpg), lightgray 50% / cover no-repeat;
  left: 0;
  box-shadow: 4px 7px 26px 0px rgb(0, 0, 0);
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}
.desc-container{
  background-blend-mode: overlay, normal;
  backdrop-filter: blur(40px);
  height: 165px;
  flex-shrink: 0;
  color: #CCD6F6;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border: 1px solid rgba(5, 5, 5, 0.521);
  padding: 5%;
  border-radius: 45px;
  box-shadow: 0px 4px 15px 5px rgba(0, 0, 0, 0.55);
}
.desc{
  color: #FFF;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 18.5px; /* 131.25% */
  text-align: start;
  width: fit-content;
  height: fit-content;
  flex-shrink: 0;
  margin-top: 20px;
  padding-left: 15%;
}

.cards img{
  width:180px;
  height:140px;
  object-fit: cover;
  border-radius: 15px;
  margin-left: 17%;

  -webkit-transform: translateY(15px);
  -moz-transform: translateY(15px);
  -ms-transform: translateY(15px);
  -o-transform: translateY(15px);
}

.btn {
  padding: 1rem;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  line-height: 2rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 60px;
  background-blend-mode: overlay, normal;
  backdrop-filter: blur(40px);
  border-radius: 8px;
  background: linear-gradient(90deg, #262626 0%, #363534 100%);
  border:2px solid #F8B444 ;

}
.card-container{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: -50px;
}
.btn:hover{
  transform: scale(1.1);
  box-shadow: 0px 4.42px 107.23px rgba(252, 141, 22, 0.51);
  background: linear-gradient(90deg, #F8B444 0%, #FC7E0A 100%);
}

.gradient,
.active {
  background: linear-gradient(#9034ba, #b65572);
}
.active {
  color: #fff;
  padding: 1rem;
  border-radius: 2rem;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
}
@layer base {
  body {
    @apply font-secondary font-semibold leading-8 text-lg text-white ;
  }
  .h2{
    @apply font-primary font-semibold leading-8 text-[32px] mb-6 tracking-[10%] uppercase;
  }
  .h3{
    @apply font-primary font-semibold leading-[46px] text-[26px] mb-6;
  }
  .btn{
    @apply rounded-full font-primary text-white font-medium;
  }
  .btn-sm{
    @apply h-[48px] px-6 text-sm;
  }
  .btn-lg{
    @apply h-[56px] px-10 text-base;
  }
  .btn-link{
    @apply text-base;
  }

  .text-gradient{
    @apply bg-gradient-to-r from-[#42A6E3] to-[#FF56F6] font-bold font-primary text-transparent bg-clip-text;
  }
  .section{
    @apply py-8 lg:py-24 lg:h-screen flex items-center; 
  }

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.cards {
  width: 280px;
  height: 420px;
  transition: all 0.2s;
  position: relative;
  cursor: pointer;
}

.card-inner {
  width: inherit;
  height: inherit;
  background: rgba(255,255,255,.05);
  box-shadow: 0 0 10px rgba(0,0,0,0.25);
  backdrop-filter: blur(10px);
  border-radius: 8px;
}

.cards:hover {
  transform: scale(1.18) rotate(1deg);
  -webkit-transform: scale(1.18) rotate(1deg);
  -moz-transform: scale(1.18) rotate(1deg);
  -ms-transform: scale(1.18) rotate(1deg);
  -o-transform: scale(1.18) rotate(1deg);
}

.circle {
  width: 100px;
  height: 100px;
  background: radial-gradient(#abf305, #53ef7d);
  border-radius: 50%;
  position: absolute;
  animation: move-up6 2s ease-in infinite alternate-reverse;
}

.circle:nth-child(1) {
  top: -25px;
  left: -25px;
}

.circle:nth-child(2) {
  bottom: -25px;
  right: -25px;
  animation-name: move-down1;
}

@keyframes move-up6 {
  to {
    transform: translateY(-10px);
  }
}

@keyframes move-down1 {
  to {
    transform: translateY(10px);
  }
}